.genre-list {
  display: none;
  background-color: rgb(100, 100, 100);
  position: absolute;
  left: 234px;
  margin-top: -45px;
  padding: 1em;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: auto;
  column-gap: 0.5em;
  row-gap: 1em;
  z-index: 99;
  border-radius: 0 1rem 1rem 0;
}

.genre-list .genre-item {
  color: var(--secondary-clr);
  padding: 0.5rem;
  border: 1px solid var(--background-secondary);
}

.genre-list .genre-item:hover {
  background-color: var(--secondary-clr);;
  color: var(--background-secondary);
}
